*.iml
.gradle/
local.properties

# Android Studio / IntelliJ
.idea/

# Build
/build
/captures
.externalNativeBuild
.cxx

.DS_Store

# Gradle daemon
gradle/gradle-daemon-jvm.properties

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
